.btn{
    color: darkgray;
    border-color: white;
}
.btn:hover{
    box-shadow: 0 0 2rem rgba(0,0,0,.3);
}
p{
    color: darkgray;
}
body{
    background: #d1e3e8;
}
.card:hover{
    box-shadow: 0 0 2rem rgba(0,0,0,.3);
}
.card-img-top{
    height: 40%;
}
.card-body{
    60%
}
h5{
    font-size: 1.05em ;
}
